<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Простой пример Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="logindiv" class="loginDiv">
        <h1>Привет, {{ userName }}</h1>
        <!--<button @click="checkAuth">Проверить авторизацию</button>-->
        <button v-if="isAuthenticated" @click="logout">Выйти из аккаунта</button>
        <div v-if="!isAuthenticated">
            <h2>Вход</h2>
            <form @submit.prevent="login">
                <div>
                    <label for="logemail">Email:</label>
                    <input type="email" id="logemail" v-model="loginForm.email" required>
                </div>
                <div>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" v-model="loginForm.password" required>
                </div>
                <button type="submit">Войти</button>
            </form>
            <p v-if="loginMessage">{{ loginMessage }}</p>
        </div>
    </div>
    <hr />
    <div v-if="isAuthenticated">
        <div id="manageContent">

            <button @click="toggleProjects">Открыть панель управления проектами</button>
            <button @click="toggleEmployees">Открыть панель управления сотрудниками</button>
            <hr/>
            <div id="projects" v-if="showProjects">
                <div id="manageProjects">
                    <div id="findProjects">
                        <button @click="getProjects">Получить список проектов</button>
                        <label>Начальная дата: </label>
                        <input type="date" id="dateBeginning" v-model="filterForm.dateBeginning" />
                        <label>Конечная дата: </label>
                        <input type="date" id="dateEnd" v-model="filterForm.dateEnd" />
                        <label>Приоритет: </label>
                        <input type="number" id="priorityProj" v-model="filterForm.priority" />
                        <label>Сортировка по:</label>
                        <select id="sortBy" v-model="filterForm.sortBy">
                            <option value="dateBeginning">Начальная дата</option>
                            <option value="dateEnd">Конечная дата</option>
                            <option value="priority">Приоритет</option>
                        </select>
                        <label>Порядок сортировки: </label>
                        <select id="sortOrder" v-model="filterForm.sortOrder">
                            <option value="asc">Возрастание</option>
                            <option value="desc">Убывание</option>
                        </select>
                    </div>
                    <br />
                    <div id="createProjects">
                        <label for="projManagerId">Менеджер проекта:</label>
                        <input id="projManagerId" type="text" v-model="createForm.projectManagerId" required />
                        <label for="projName">Название проекта: </label>
                        <input id="projName" type="text" v-model="createForm.name" required />
                        <label for="projNameCustomer">Название заказчика: </label>
                        <input id="projNameCustomer" type="text" v-model="createForm.nameCustomer" required />
                        <label for="projNameContractor">Название исполнителя: </label>
                        <input id="projNameContractor" type="text" v-model="createForm.nameContractor" required />
                        <label for="projDateBeg">Дата начала: </label>
                        <input id="projDateBeg" type="date" v-model="createForm.dateBeginning" required />
                        <label for="projDateEnd">Дата окончания: </label>
                        <input id="projDateEnd" type="date" v-model="createForm.dateEnd" required />
                        <label for="projPriority">Приоритет: </label>
                        <input id="projPriority" type="number" v-model="createForm.priority" required />
                        <button @click="createProject">Создать проект</button>
                    </div>
                </div>
                <div id="showProjects" class="Projects"  style="display:flex;">
                    <div class="allProjects">
                        <ul>
                        <h2>Список проектов:</h2>
                            <li v-for="project in projects" :key="project.id">
                                {{ project.name }} {{ project.nameCustomer }} {{ project.nameContractor }} {{ project.id }} 
                                <button @click="deleteProject(project.id)">Удалить</button>
                                <button @click="editProject(project.id)">Редактировать</button>
                                <button @click="viewProjectFullInfo(project)">Полная информация</button>
                            </li>
                        </ul>
                    </div>
                    <div class="oneProject" style="margin-left:auto;margin-right:0" v-if="currentSelectedProject">
                        <h2>Информация о выбранном проекте: {{currentSelectedProject.name}}</h2>
                        <h4>Компания-заказчик: {{currentSelectedProject.nameCustomer}}</h4>
                        <h4>Компания-исполнитель: {{currentSelectedProject.nameContractor}}</h4>
                        <h4>Дата старта проекта: {{formatDate(currentSelectedProject.dateBeginning)}}</h4>
                        <h4>Дата окончания проекта: {{formatDate(currentSelectedProject.dateEnd)}}</h4>
                        <h4>Приоритет проекта: {{currentSelectedProject.priority}}</h4>
                        <h3>Сотрудники проекта:</h3>
                        <ul>
                            <li v-for="employee in currentSelectedProject.employees" :key="employee.id">
                                {{employee.id}} {{employee.name}} {{employee.secondName}} {{employee.patronymic}}
                            </li>
                        </ul>
                            <!--<label for="searchEmployee">Поиск сотрудника для добавления</label>-->
                            <input type="text" id="searchEmployee" v-model="searchEmployeeQuery" placeholder="Введите имя сотрудника..."/>
                            <ul v-if="employees.length">
                                <li v-for="employee in employees" :key="employee.id" @click="addEmployeeToProject(employee)">
                                    {{ employee.name }} {{ employee.secondName }} {{ employee.patronymic }}
                                </li>
                            </ul>
                            <button>Добавить сотрудника</button>
                    </div>
                </div>
            </div>

            <div id="employees" v-if="showEmployees">
                <button @click="getEmployees">Получить список сотрудников</button>
                <div id="showEmployees">
                    <div class="showEmployees">
                        <ul>
                            <h2>Список сотрудников:</h2>
                            <li v-for="employee in employees" :key="employee.id">
                                {{employee.name}} {{employee.secondName}} {{employee.patronymic}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        new Vue({
            el: '#manageContent',
            data() {
                return {
                    showProjects: false,
                    showEmployees: false,
                    searchEmployeeQuery:'',
                    filterForm: {
                        dateBeginning: '',
                        dateEnd: '',
                        priority: '',
                        sortBy: '',
                        sortOrder: ''
                    },
                    createForm: {
                        projectManagerId: '',
                        name: '',
                        nameCustomer: '',
                        nameContractor: '',
                        dateBeginning: '',
                        dateEnd: '',
                        priority: ''
                    },
                    currentSelectedProject:'',
                    projects: [],
                    employees:[]
                };
            },
            methods: {
                toggleProjects() {
                    this.showProjects = true;
                    this.showEmployees = false;
                    this.getProjects();
                },
                toggleEmployees() {
                    this.showProjects = false;
                    this.showEmployees = true;
                },
                async getProjects() {
                    try {
                        const response = await axios.get('https://localhost:7220/api/project', {
                            params: {
                                startDate: this.filterForm.dateBeginning,
                                endDate: this.filterForm.dateEnd,
                                priority: this.filterForm.priority,
                                sortBy: this.filterForm.sortBy,
                                sortOrder: this.filterForm.sortOrder
                            }
                        });
                        if (response.status === 200) {
                            this.projects = response.data.projects;
                        }
                    } catch (error) {
                        console.error('Ошибка при получении списка проектов:', error);
                    }
                },
                async createProject() {
                    try {
                        const response = await axios.post('https://localhost:7220/api/project', this.createForm);
                        if (response.status === 200) {
                            this.getProjects();
                            this.createForm = {
                                projectManagerId: '',
                                name: '',
                                nameCustomer: '',
                                nameContractor: '',
                                dateBeginning: '',
                                dateEnd: '',
                                priority: ''
                            };
                        }
                    } catch (error) {
                        console.error('Ошибка при создании проекта:', error);
                    }
                },
                async deleteProject(projectId) {
                    try {
                        await axios.delete(`https://localhost:7220/api/project/${projectId}`);
                        this.getProjects();
                    } catch (error) {
                        console.error('Ошибка при удалении проекта:', error);
                    }
                },
                async viewProjectFullInfo(project) {
                    try {
                        this.currentSelectedProject = project;
                    } catch (error) {
                        console.error('Ошибка при обращении к проекту', error);
                    }
                },
                formatDate(dateString) {
                    const date = new Date(dateString);
                    const year = date.getFullYear();
                    const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Месяцы начинаются с 0
                    const day = date.getDate().toString().padStart(2, '0');
                    return `${year}/${month}/${day}`;
                },
                async getEmployees() {
                    try {
                        const response = await axios.get(`https://localhost:7220/api/employee`);
                        if (response.status === 200) {
                            this.employees = response.data.employees;
                        }

                    } catch (error) {
                        console.error('Ошибка при получении списка сотрудников', error);
                    }
                }
            }
        });

        new Vue({
            el: '#logindiv',
            data() {
                return {
                    loginForm: {
                        email: '',
                        password: ''
                    },
                    loginMessage: '',
                    isAuthenticated: false
                };
            },
            methods: {
                async login() {
                    try {
                        const response = await axios.post('https://localhost:7220/api/account/login', this.loginForm);
                        if (response.status === 200) {
                            this.loginMessage = 'Успешный вход';
                            this.isAuthenticated = true;
                            // Здесь можно реализовать перенаправление на другую страницу или выполнение других действий после успешного входа
                        }
                    } catch (error) {
                        if (error.response.status === 401) {
                            this.loginMessage = 'Неверный email или пароль';
                        } else {
                            this.loginMessage = 'Ошибка при входе';
                        }
                    }
                },
                async checkAuth() {
                    try {
                        const response = await axios.get(`https://localhost:7220/api/account/check-auth`);
                        if (response.status === 200) {
                            this.userName = response.data.userName;
                            this.isAuthenticated = true;
                        }
                    } catch (error) {
                        if (error.response.status === 401) {
                            this.loginMessage = 'Пользователь не авторизован';
                            this.IsAuthenticated = false;
                        }
                    }
                },
                async logout() {
                    try {
                        const response = await axios.post(`https://localhost:7220/api/account/logout`);
                        if (response.status === 200) {
                            this.isAuthenticated = false;
                            this.userName = '';
                        }
                    } catch (error) {
                        console.error('Ошибка при выходе из системы:', error);
                    }
                }
            },
            mounted() {
                this.checkAuth();
            }
        }); 
    </script>
    <style>
    </style>
</body>
</html>